<style>
BODY
{
	font-family:ו;
	cursor:default;
	font-size:9pt;
}
table
{
	font-family:ו;
	cursor:default;
	font-size:9pt;
}
.container {
	position:relative;
	top:0px;
	padding:1px;
	padding-top:5px;
	width:13px;
	height:13px;
	border:solid 1px black;
	}
SPAN.clsCollapse
{
	top:3px;
	padding-left:1px;
	padding-top:0px;
	overflow:hidden;
	line-height:3px;
	font-size:13px;
}
SPAN.clsExpand
{
	padding-left:1px;
	overflow:hidden;
	line-height:3px;
	font-size:13px;
	padding-top:0px;
}
SPAN.clsLeaf
{
	top:0px;
	padding-left:3px;
	overflow:hidden;
	line-height:0px;
	font-size:11px;
	cursor:normal;
}
SPAN.clsLabel1
{
	height:17px;
	overflow:hidden;
	padding-left:3px;
	padding-top:0px;
}
SPAN.clsLabel
{
	height:17px;
	overflow:hidden;
	padding-left:3px;
	padding-top:0px;
}
SPAN.clsLabel2
{
	height:17px;
	overflow:hidden;
	padding-left:3px;
	padding-top:0px;
	background-color:#CCFFFF;
	border:1px solid #FF80C0;
	cursor:hand;
}
SPAN.clsMouseOver
{
	position:relative;
	height:17px;
	overflow:hidden;
	padding-left:3px;
	padding-top:0px;
	background-color:#CCCCCC;
	border:1px solid #999999;
	cursor:hand;
}
SPAN.clsMouseOver1
{
	position:relative;
	height:17px;
	overflow:hidden;
	padding-left:3px;
	padding-top:0px;
	background-color:#CCCCCC;
	border:1px solid #999999;
	cursor:hand;
}
SPAN.clsMouseOut
{
	position:relative;
	height:17px;
	overflow:hidden;
	padding-left:3px;
	padding-top:0px;
	background-color:#CCCCCC;
	border:1px solid #FFFFFF;
}
SPAN.clsMouseDown1
{
	position:relative;
	height:17px;
	overflow:hidden;
	padding-left:3px;
	padding-top:0px;
	background-color:#999999;
	border:1px solid #999999;
}
SPAN.clsMouseDown
{
	position:relative;
	height:17px;
	overflow:hidden;
	padding-left:3px;
	padding-top:0px;
	background-color:#999999;
	border:1px solid #999999;
}
SPAN.clsCurrentHasFocus
{
	position:relative;
	height:17px;
	overflow:hidden;
	padding-left:3px;
	padding-top:0px;
	background-color:#FFFFFF;
	border:1px solid #999999;
	cursor:hand;
}
SPAN.clsNotReady
{
	position:relative;
	height:17px;
	overflow:hidden;
	padding-left:3px;
	padding-top:2px;
	background-color:#CCCCCC;
	border:1px solid #FFFFFF;
}
th	{
	font-family: ו,Arial, Helvetica, sans-serif;
	FONT-SIZE: 11pt;
	font-weight:normal;
    color:black;
	background-color:#D9E7EB
}
table{
	border-width:0;
	width:100%;
}
DIV.focusColor {backgroud-color:red}
DIV.normalColor {backgroud-color:green}
</style>